html{
  background-color: grey;
}
.container-fuild{
background-color: gray;
}

input[type="text"]{
  background: transparent;
  color: white;
}

input[type="text"]:focus{
  background: transparent;
  color: white;
}